li {
list-style-type: none;
float: left;
border-right-color:#bbb;
border-right-width: 1px;
border-right-style: solid;
}
li a {
display: block;
color: white;
padding: 20px;
text-align: center;
background-color: rgb(3, 109, 170);
}
li a:hover {
background-color: #111
}